
body{ background-color:blanchedalmond;}
h1{color:blue}
h1{font-size: 100px;}
h1{font-family: "juma-color", sans-serif;
font-weight: 400;
font-style: normal;}
h2{font-size:x-small}

h2{color:brown }
h3{color: brown;}

h3{ line-height: normal;}
p{color: brown;}

.move{ text-align: right;}


.type{font-size:40px ;}