
body{ background-color:blanchedalmond;}
h1{color:blue}
h1{font-size:xx-large}
h1{font-family:fantasy}
h2{font-size:x-small}

h2{color:brown }
h3{color: brown;}

h3{ line-height: normal;}
p{color: brown;}
h2{text-align: right;}